header {
    text-align: center;
    background-color: grey;
    font-size: 50px
 }
h2 {
    font-size: 50px;
    color: blue;
    margin-left: 40px
 }
ul {
    font-size: 25px;
    margin-left: 40px
 }
h3 {
    font-size: 30px;
    margin-left: 40px
 }
.wiadomość {
    margin-left: 45px
 }
img {
    margin-left: 40px
 }