{% extends "base.html" %}

{% block content %}
<h3>
   Dodaj nowy wpis
</h3>

<form action="" method="POST">
  {{form.hidden_tag()}}
   <div class="form-group">
       <label for="title">Tytuł wpisu</label>
       {{ form.title(class_="form-control") }}
   </div>
   <div class="form-group">
       <label for="body">Treść</label>
       {{ form.body(class_="form-control", cols="100", rows="20") }}
   </div>
   <div class="form-check">
       {{ form.is_published(class_="form-check-input") }}
       <label class="form-check-label" for="is_published">Wpis opublikowany</label>
   </div>
   <button type="submit" class="btn btn-primary mt-5">Zapisz</button>
</form>

{% endblock %}