<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edycja książki</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>
    <form method="POST" action="/books/{{ book_id }}/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" name="btn" value="Zapisz">
        <input type="submit" name="btn" value="Usuń">
    </form>
</body>
</html>